# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse/IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
*.classpath
*.project
*.settings/

# VS Code
.vscode/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# JARs
*.jar

# Others
*.swp
*.pdf